# MongoDB Atlas Search API Test Report

## Test Summary
Report generated on: 2025-04-13 19:36:16

```
+--------------------+---------+----------+----------+---------+-----------+
| Category           |   Total |   Passed |   Failed |   Error |   Skipped |
+====================+=========+==========+==========+=========+===========+
| Products           |       4 |        0 |        0 |       4 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
| Orders             |       1 |        0 |        0 |       1 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
| Search             |       4 |        0 |        0 |       4 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
| User Feedback      |       1 |        0 |        0 |       1 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
| Recommender System |       1 |        0 |        0 |       1 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
| System             |       2 |        0 |        0 |       2 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
| TOTAL              |      13 |        0 |        0 |      13 |         0 |
+--------------------+---------+----------+----------+---------+-----------+
```

## API Endpoint Coverage

## Detailed Test Results

### Products

| Test | Status | Message |
|------|--------|--------|
| test_ingest_products | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_ingest_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_ingest_products' in any of [<Module test_endpoints.py>])

 |
| test_get_product | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_get_product
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_get_product' in any of [<Module test_endpoints.py>])

 |
| test_remove_product | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_remove_product
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_remove_product' in any of [<Module test_endpoints.py>])

 |
| test_remove_all_products | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_remove_all_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_remove_all_products' in any of [<Module test_endpoints.py>])

 |

### Orders

| Test | Status | Message |
|------|--------|--------|
| test_ingest_orderline | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_ingest_orderline
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_ingest_orderline' in any of [<Module test_endpoints.py>])

 |

### Search

| Test | Status | Message |
|------|--------|--------|
| test_search | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_search
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_search' in any of [<Module test_endpoints.py>])

 |
| test_autosuggest | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_autosuggest
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_autosuggest' in any of [<Module test_endpoints.py>])

 |
| test_similar_products | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_similar_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_similar_products' in any of [<Module test_endpoints.py>])

 |
| test_query_explain | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_query_explain
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_query_explain' in any of [<Module test_endpoints.py>])

 |

### User Feedback

| Test | Status | Message |
|------|--------|--------|
| test_feedback | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_feedback
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_feedback' in any of [<Module test_endpoints.py>])

 |

### Recommender System

| Test | Status | Message |
|------|--------|--------|
| test_naive_recommender_endpoints | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_naive_recommender_endpoints
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_naive_recommender_endpoints' in any of [<Module test_endpoints.py>])

 |

### System

| Test | Status | Message |
|------|--------|--------|
| test_health | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_health
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_health' in any of [<Module test_endpoints.py>])

 |
| test_unauthorized_access | WARN error | Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_unauthorized_access
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_unauthorized_access' in any of [<Module test_endpoints.py>])

 |

## Recommendations

### Issues to Address

#### Products

- **test_ingest_products**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_ingest_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_ingest_products' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_ingest_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_ingest_products' in any of [<Modu...
  ```
- **test_get_product**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_get_product
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_get_product' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_get_product
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_get_product' in any of [<Module test_...
  ```
- **test_remove_product**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_remove_product
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_remove_product' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_remove_product
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_remove_product' in any of [<Module...
  ```
- **test_remove_all_products**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_remove_all_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_remove_all_products' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_remove_all_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_remove_all_products' in any o...
  ```

#### Orders

- **test_ingest_orderline**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_ingest_orderline
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_ingest_orderline' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_ingest_orderline
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_ingest_orderline' in any of [<Mo...
  ```

#### Search

- **test_search**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_search
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_search' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_search
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_search' in any of [<Module test_endpoints....
  ```
- **test_autosuggest**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_autosuggest
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_autosuggest' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_autosuggest
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_autosuggest' in any of [<Module test_...
  ```
- **test_similar_products**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_similar_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_similar_products' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_similar_products
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_similar_products' in any of [<Mo...
  ```
- **test_query_explain**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_query_explain
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_query_explain' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_query_explain
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_query_explain' in any of [<Module t...
  ```

#### User Feedback

- **test_feedback**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_feedback
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_feedback' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_feedback
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_feedback' in any of [<Module test_endpoi...
  ```

#### Recommender System

- **test_naive_recommender_endpoints**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_naive_recommender_endpoints
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_naive_recommender_endpoints' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_naive_recommender_endpoints
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_naive_recommender_end...
  ```

#### System

- **test_health**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_health
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_health' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_health
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_health' in any of [<Module test_endpoints....
  ```
- **test_unauthorized_access**: Test execution error: ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_unauthorized_access
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_unauthorized_access' in any of [<Module test_endpoints.py>])


  ```
  ERROR: not found: C:\Users\Isaia\OneDrive\Documents\Coding\Dockerized MongoDb Atlas search\app\tests\test_endpoints.py::test_unauthorized_access
(no name 'C:\\Users\\Isaia\\OneDrive\\Documents\\Coding\\Dockerized MongoDb Atlas search\\app\\tests\\test_endpoints.py::test_unauthorized_access' in any o...
  ```

